@page
@model NoweM.ListaModel
@{
    ViewData["Title"] = "Domy";
}

<h1>Nowe domy w Płocku</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
@foreach (var house in Model.Houses)
{
    <partial name="_Summary" model="house" />
}

<a asp-page="./Edit" class="btn btn-primary">Dodaj nowy</a>
<br />

@section footer{
    @Model.Message
    <br />

    @Model.MessageFromConfig
}

